[section]
//registry.npmjs.org/:_authToken = 73767fff-cbea-41fb-b7f8-88377b07cbe5
long = true
metrics-registry = https://registry.npmjs.org/
scope = local
user-agent = npm/5.0.3 node/v8.1.4 darwin x64
package-lock = true
json = true
git-tag-version = true
loglevel = warn
