html {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    height: 100vh;
    /*background-image: url("../../public/images/TopGraphic.jpg");*/

div.pageBody {
    margin: 0px 0px 0px 0px;
    height: auto;
    overflow: hidden;
    clear: both;
}

.bigtitle{
    text-align: center;
    font-size: 40px;
}

.flexcontainer {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 99%;
    padding: 1.8rem;
    margin: 0 auto;
}
